<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/people">People</a></li>
				<li><a href="/groups">Groups</a></li>
				<li><a href="/places">Places</a></li>
				<li><a href="/items">Items</a></li>
				<li><a href="/Concepts">Groups</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:fakeemail@gmail.com">email</a></li>
	        		<li><a href="https://github.com/fakegithub">github.com/fakegithub</a></li>
				</ul>
			</footer>
		</body>
	</html>
